@import "tailwindcss";

:root {
  --background: #fff8f5;
  --foreground: #2b2526;

  --primary: #d97c90;
  --secondary: #fbe8ea;

  --dark: #44343a;

  --card: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  overflow-x: hidden;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
}

img {
  user-select: none;
  pointer-events: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: #d97c90;
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #fff8f5;
}

::-webkit-scrollbar-thumb {
  background: #d9a2ad;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c66c80;
}

body::before {
  content: "";

  position: fixed;

  inset: 0;

  background-image:
      radial-gradient(circle at 20% 20%, rgba(255,255,255,.5) 0%, transparent 20%),
      radial-gradient(circle at 80% 40%, rgba(255,255,255,.3) 0%, transparent 20%);

  pointer-events: none;

  z-index: -1;
}